<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/pets" method="post">


    pet name: <input id="pet_name" type="text" name="pet[name]" value="">

    <%Owner.all.each do |owner|%>
      <%=owner.name%><input id="<%=owner.id%>" type="checkbox" name="pet[owner_id]" value="<%=owner.id%>">
    <%end%>

    optional owner name: <input id="owner_name" type="text" name="owner[name]" value="">

    <input type="submit" value="Create Pet">
    </form>
  </body>
</html>
